__pychche__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
.env
.DS_Store
*.log
*.sqlite3
*.db
*.bak
*.swp
*.swo
*.tmp
*.egg-info/
dist/
build/
*.egg
*.egg-info/
*.cover
.coverage
.coverage.*
htmlcov/
.tox/
.nox/
.coverage.*
.cache/
.pytest_cache/
nosetests.xml
coverage.xml
*.coverage